/* Contenedor principal */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 50px;
}


/* Estilo del título */
.title {
  color: white;
  font-size: 25px;
  font-family: "Jersey 25", sans-serif;
  text-align:start;
  margin-bottom: 20px; /* Espacio entre el título y los juegos */
  width: 100%;
  padding-left: 10rem;
}

/* Contenedor de los juegos */
.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Se ajusta a 3 columnas */
  grid-auto-rows: auto; /* Altura automática */
  gap: 30px; /* Espaciado entre tarjetas */
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* Tarjeta de cada juego */
.game-card {
  font-family: "Roboto", sans-serif;
  background: #2c2c2c;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.game-card:hover {
  transform: scale(1.05);
}
.game-card a {
  color: #9b59b6;
  text-decoration: none;
  font-weight: bold;
}
.game-card a:hover {
  text-decoration: underline;
}

/* Imagen del juego */
.game-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* Título del juego */
.game-title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 8px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Hace que ocupe todo el espacio disponible */
  width: 100%;
}

/* 📱 Celulares pequeños (Menos de 767px) */
@media screen and (max-width: 767px) {
  .title {
    font-size: 20px; /* Reducimos el tamaño del título */
    text-align: center; /* Centramos el título */
    padding: 0;
  }

  .game-container {
    grid-template-columns: repeat(2, minmax(140px, 1fr)); /* 2 columnas */
    gap: 15px; /* Reducimos el espacio */
    max-width: 90%;
  }

  .game-card img {
    height: 150px; /* Ajustamos la imagen */
  }

  .game-title {
    font-size: 14px; /* Texto más pequeño */
  }
}

/* 📱 Tabletas (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 22px;
    text-align:center;
    padding: 0;
  }

  .game-container {
    grid-template-columns: repeat(3, minmax(180px, 1fr)); /* 3 columnas */
    gap: 20px;
    max-width: 95%;
  }

  .game-card img {
    height: 160px;
  }

  .game-title {
    font-size: 16px;
  }
}



  