<div #swiperContainer class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" [routerLink]="['/juegos', 'adventure']">Juegos de aventura</div>
      <div class="swiper-slide" [routerLink]="['/juegos', 'action']">Juegos de acción</div>
      <div class="swiper-slide" [routerLink]="['/juegos', 'puzzle']">Juegos de estrategia</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
      <div class="swiper-slide">Slide 10</div>
      <div class="swiper-slide">Slide 11</div>
      <div class="swiper-slide">Slide 12</div>
    </div>
    <!-- Paginación -->
    <div class="swiper-pagination"></div>
    
    <!-- Botones de navegación -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>